/* Newsletter Sign-Up */

.alert-success
	background-color transparent !important
	border-color transparent !important
	color #000 !important
	font-weight 700
	font-size 1.2rem
	letter-spacing 0.1rem
	text-transform uppercase !important

/* Product Listing (thumbnail) */

.indiv-product
	a
		color #fff
			
		.product-image
			padding-bottom 150%
			
			&.featured
				display block
			
			&.rollover
				display none
			
		.hp-title
			position absolute
			width 100%
			bottom 5px
			padding 0 10px
			text-shadow 0 0 30px #000
			
			span
				color #fff
				
				&.product-title
					float left
					line-height 19px !important
				
				&.product-price
					font-family adobe-garamond-pro, serif;
					width initial !important /* override style */
					float right
		
		&:hover
			color #fff !important
			
			.hp-title
				text-shadow initial !important
			
			.product-image
				&.featured
					display none
				
				&.rollover
					display block
		
	&.product-view
		.hp-title
			span
				color #000 !important
				text-shadow initial !important
		
		.product-image
			&.featured
				display none
			
			&.rollover
				display block