/* Newsletter Sign-Up */
.alert-success {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #000 !important;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase !important;
}
/* Product Listing (thumbnail) */
.indiv-product a {
  color: #fff;
}
.indiv-product a .product-image {
  padding-bottom: 150%;
}
.indiv-product a .product-image.featured {
  display: block;
}
.indiv-product a .product-image.rollover {
  display: none;
}
.indiv-product a .hp-title {
  position: absolute;
  width: 100%;
  bottom: 5px;
  padding: 0 10px;
  text-shadow: 0 0 30px #000;
}
.indiv-product a .hp-title span {
  color: #fff;
}
.indiv-product a .hp-title span.product-title {
  float: left;
  line-height: 19px !important;
}
.indiv-product a .hp-title span.product-price {
  font-family: adobe-garamond-pro, serif;
  width: initial !important /* override style */;
  float: right;
}
.indiv-product a:hover {
  color: #fff !important;
}
.indiv-product a:hover .hp-title {
  text-shadow: initial !important;
}
.indiv-product a:hover .product-image.featured {
  display: none;
}
.indiv-product a:hover .product-image.rollover {
  display: block;
}
.indiv-product.product-view:hover .product-image.featured {
  display: none !important;
}
.indiv-product.product-view:hover .product-image.rollover {
  display: block !important;
}
.indiv-product.product-view .hp-title span {
  color: #000 !important;
  text-shadow: initial !important;
}
.indiv-product.product-view .product-image.featured {
  display: none;
}
.indiv-product.product-view .product-image.rollover {
  display: block;
}
@media all and (max-device-width: 768px) {
  .indiv-product a:hover .product-image.featured {
    display: block !important;
  }
  .indiv-product a:hover .product-image.rollover {
    display: none !important;
  }
  .indiv-product a:hover .hp-title {
    text-shadow: 0 0 30px #000 !important;
  }
  .indiv-product a:hover .hp-title .product-price {
    font-family: adobe-garamond-pro, serif !important;
    font-style: italic !important;
  }
}
