/* Newsletter Sign-Up */
.alert-success {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #000 !important;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase !important;
}
/* Product Listing (thumbnail) */
.indiv-product a {
  color: #fff;
}
.indiv-product a .product-image {
  padding-bottom: 150%;
}
.indiv-product a .product-image.featured {
  display: block;
}
.indiv-product a .product-image.rollover {
  display: none;
}
.indiv-product a .hp-title {
  position: absolute;
  bottom: 5px;
  left: 10px;
  text-shadow: 0 0 30px #000;
}
.indiv-product a .hp-title span {
  text-align: left;
  color: #fff;
}
.indiv-product a:hover {
  color: #fff !important;
}
.indiv-product a:hover .hp-title {
  text-shadow: 0 0 0 !important;
}
.indiv-product a:hover .product-image.featured {
  display: none;
}
.indiv-product a:hover .product-image.rollover {
  display: block;
}
.indiv-product.flats-view .hp-title {
  display: none;
}
.indiv-product.flats-view .product-image.featured {
  display: none;
}
.indiv-product.flats-view .product-image.rollover {
  display: block;
}
.indiv-product.body-view .product-image.featured {
  display: block;
}
.indiv-product.body-view .product-image.rollover {
  display: none;
}
