body.template-index .main #homepage-main-wrap #oi_shop-all:hover {
  text-decoration: none;
  background: #000;
  color: #fff;
}
body.template-index .main #homepage-main-wrap #featured {
  position: relative;
}
body.template-index .main #homepage-main-wrap #featured .featured-products.product-grid {
  width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
  font-size: 0;
}
body.template-index .main #homepage-main-wrap #featured .featured-products.product-grid::-webkit-scrollbar {
  display: none !important;
}
body.template-index .main #homepage-main-wrap #featured .featured-products.product-grid li {
  width: 25%;
  box-sizing: border-box;
  border-right: 2px solid #fff;
}
body.template-index .main #homepage-main-wrap #featured #scroll-left,
body.template-index .main #homepage-main-wrap #featured #scroll-right {
  position: absolute;
  top: 0;
  height: 90%;
  border: 0;
  background: none;
  color: #fff;
  text-shadow: 0 0 30px #222;
  font-size: 5rem;
  transition: 0.2s opacity ease-in-out;
}
body.template-index .main #homepage-main-wrap #featured #scroll-left:focus,
body.template-index .main #homepage-main-wrap #featured #scroll-right:focus {
  outline: none;
}
body.template-index .main #homepage-main-wrap #featured #scroll-left.hidden,
body.template-index .main #homepage-main-wrap #featured #scroll-right.hidden {
  opacity: 0;
}
body.template-index .main #homepage-main-wrap #featured #scroll-left img,
body.template-index .main #homepage-main-wrap #featured #scroll-right img {
  width: 15px;
  height: auto;
}
body.template-index .main #homepage-main-wrap #featured #scroll-left {
  padding-left: 10px;
  left: 0;
}
body.template-index .main #homepage-main-wrap #featured #scroll-right {
  padding-right: 10px;
  right: 0;
}
body.template-index .main .instagram-wrapper .title-bar {
  display: block;
  width: 200px;
  margin: auto;
}
body.template-index .main .instagram-wrapper #oi_instagram-cta {
  color: #000;
  width: 100%;
  display: block;
  padding: 6px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.15rem;
  letter-spacing: 0.075rem;
  margin: 10px auto 75px;
}
body.template-index .main .instagram-wrapper #oi_instagram-cta:hover {
  text-decoration: none;
}
@media all and (max-width: 768px) {
  body.template-index .main #homepage-main-wrap #featured .featured-products.product-grid {
    overflow-x: scroll !important;
    overflow-y: hidden !important;
    -webkit-overflow-scrolling: touch;
  }
  body.template-index .main #homepage-main-wrap #featured .featured-products.product-grid li {
    width: 90%;
    margin-bottom: 0 !important /* override style */;
/* override style */
  }
  body.template-index .main #homepage-main-wrap #featured .featured-products.product-grid li .indiv-product {
    margin-bottom: 0 !important;
  }
  body.template-index .main #homepage-main-wrap #featured #scroll-left,
  body.template-index .main #homepage-main-wrap #featured #scroll-right {
    display: none;
  }
  body.template-index .main .instagram-wrapper #oi_instagram-cta {
    margin-bottom: 0 !important;
  }
}
