body
	&.template-index
		.main
			#homepage-main-wrap
				#oi_shop-all
					&:hover
						text-decoration none
						background #000
						color #fff
					
				#featured
					position relative
					
					.featured-products.product-grid
						width 100%
						white-space nowrap
						overflow-x hidden
						font-size 0
						
						&::-webkit-scrollbar
							display none !important
						
						li
							width 25%
							box-sizing border-box
							border-right 2px solid #fff
					
					#scroll-left,
					#scroll-right
						position absolute
						top 0
						height 90%
						border 0
						background none
						color #fff
						text-shadow 0 0 30px #222
						font-size 5rem
						transition .2s opacity ease-in-out
						
						&:focus
							outline none
						
						&.hidden
							opacity 0
						
						img
							width 15px
							height auto
					
					#scroll-left
						padding-left 10px
						left 0
					
					#scroll-right
						padding-right 10px
						right 0
			
			.instagram-wrapper
				.title-bar
					display block
					width 200px
					margin auto
					
				#oi_instagram-cta
					color #000
					width 100%
					display block
					padding 6px
					text-align center
					text-transform uppercase
					font-size 1.15rem
					letter-spacing .075rem
					margin 10px auto 75px
					
					&:hover
						text-decoration none

@media all and (max-width:768px)
	body
		&.template-index
			.main
				#homepage-main-wrap
					#featured
						.featured-products.product-grid
							overflow-x scroll !important
							overflow-y hidden !important
							-webkit-overflow-scrolling touch
							
							li
								width 90%
								margin-bottom 0 !important /* override style */
								
								/* override style */
								.indiv-product
									margin-bottom 0 !important
								
						#scroll-left,
						#scroll-right
							display none
				
				.instagram-wrapper
					#oi_instagram-cta
						margin-bottom 0 !important