body.template-index .main #homepage-main-wrap #featured {
  position: relative;
}
body.template-index .main #homepage-main-wrap #featured .featured-products.product-grid {
  width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
}
body.template-index .main #homepage-main-wrap #featured .featured-products.product-grid::-webkit-scrollbar {
  display: none !important;
}
body.template-index .main #homepage-main-wrap #featured .featured-products.product-grid li {
  width: 25%;
}
body.template-index .main #homepage-main-wrap #featured #scroll-left,
body.template-index .main #homepage-main-wrap #featured #scroll-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  background: none;
  color: #fff;
  text-shadow: 0 0 30px #222;
  font-size: 5rem;
}
body.template-index .main #homepage-main-wrap #featured #scroll-left:focus,
body.template-index .main #homepage-main-wrap #featured #scroll-right:focus {
  outline: none;
}
body.template-index .main #homepage-main-wrap #featured #scroll-left {
  left: 10px;
  transition: 0.2s opacity ease-in-out;
}
body.template-index .main #homepage-main-wrap #featured #scroll-left.hidden {
  opacity: 0;
}
body.template-index .main #homepage-main-wrap #featured #scroll-right {
  right: 10px;
}
body.template-index .main .instagram-wrapper .title-bar {
  display: block;
  width: 200px;
  margin: auto;
}
body.template-index .main .instagram-wrapper #oi_instagram-cta {
  color: #000;
  width: 100%;
  display: block;
  padding: 6px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.15rem;
  letter-spacing: 0.075rem;
  margin: 10px auto 75px;
}
body.template-index .main .instagram-wrapper #oi_instagram-cta:hover {
  text-decoration: none;
}
@media all and (max-width: 768px) {
  body.template-index .main #homepage-main-wrap #featured .featured-products.product-grid {
    white-space: initial !important;
  }
  body.template-index .main #homepage-main-wrap #featured .featured-products.product-grid li {
    width: 100%;
    margin-bottom: 0 !important /* override style */;
/* override style */
  }
  body.template-index .main #homepage-main-wrap #featured .featured-products.product-grid li .indiv-product {
    margin-bottom: 0 !important;
  }
  body.template-index .main #homepage-main-wrap #featured #scroll-left,
  body.template-index .main #homepage-main-wrap #featured #scroll-right {
    display: none;
  }
  body.template-index .main .instagram-wrapper #oi_instagram-cta {
    margin-bottom: 0 !important;
  }
}
