body
	&.template-index
		.main
			#oi_banner
				position relative
				width 100%
				height 100vh
				overflow hidden
			
				video
					position absolute
					top 50%
					left 50%
					-webkit-transform translate(-50%, -50%)
					-ms-transform translate(-50%, -50%)
					-o-transform translate(-50%, -50%)
					transform translate(-50%, -50%)
					min-width 100%
					min-height 100%

					&#oi_mobile-video
						display none
					
				#oi_video-controls
					display none
					bottom 15px
					right 25px
					
					button
						width 30px
						background none
						border 0
						font-size 2rem
						
						&:focus
							outline none
						
						&#oi_play,
						&#oi_volume-on
							display none
				
				#oi_homepage-banner--desktop,
				#oi_homepage-banner--mobile
					width 100%
					height 100%
					background-size cover !important
					background-position center !important
				
				#oi_homepage-banner--mobile
					display none !important

			#homepage-main-wrap
				#oi_shop-all
					&:hover
						text-decoration none
						background #000
						color #fff
					
				#featured
					position relative
					
					.featured-products.product-grid
						width 100%
						white-space nowrap
						overflow-x hidden
						font-size 0
						
						&::-webkit-scrollbar
							display none !important
						
						li
							width 25%
							box-sizing border-box
							border-right 2px solid #fff
					
					#scroll-left,
					#scroll-right
						position absolute
						top 0
						height 90%
						border 0
						background none
						color #fff
						text-shadow 0 0 30px #222
						font-size 5rem
						transition .2s opacity ease-in-out
						
						&:focus
							outline none
						
						&.hidden
							opacity 0
						
						img
							width 15px
							height auto
					
					#scroll-left
						padding-left 10px
						left 0
					
					#scroll-right
						padding-right 10px
						right 0
			
			.instagram-wrapper
				.title-bar
					display block
					width 200px
					margin auto
					
				#oi_instagram-cta
					color #000
					width 100%
					display block
					padding 6px
					text-align center
					text-transform uppercase
					font-size 1.15rem
					letter-spacing .075rem
					margin 10px auto 75px
					
					&:hover
						text-decoration none

@media all and (max-width:768px)
	body
		&.template-index
			.main
				#oi_banner
					video
						&#oi_mobile-video
							display block !important
							min-width unset !important
							min-height unset !important
							width 100% !important							
						
						&#oi_desktop-video
							display none !important 

					#oi_video-controls
						button
							width 45px !important
					
					#oi_homepage-banner--desktop
						display none !important
						
					#oi_homepage-banner--mobile
						display block !important
													
				#homepage-main-wrap
					#oi_shop-all
						margin 20px auto 50px !important
						
					#featured
						.featured-products.product-grid
							overflow-x scroll !important
							overflow-y hidden !important
							-webkit-overflow-scrolling touch
							
							li
								width 90%
								margin-bottom 0 !important /* override style */
								
								/* override style */
								.indiv-product
									margin-bottom 0 !important
								
						#scroll-left,
						#scroll-right
							display none
				
				.instagram-wrapper
					#oi_instagram-cta
						margin-bottom 0 !important