<div class="collections-view-toggle">
	{% include 'breadcrumb' %}
	<button id="product-view">Product View</button>
	<button id="editorial-view">Editorial View</button>
</div>
<div id="collections-main" class="{{ collection.handle }}">
{% paginate collection.products by settings.products-per-page %}
	{% if collection.products.size > 0 %}
		<ul class="product-grid clearfix">
		{% for product in collection.products %}
			<li>
				{% include 'product-listing' %}
			</li>
		{% endfor %}
		</ul>
		{% include 'pagination' %}
	{% else %}
		<div class="no-products-found">{{ 'collections.general.no_matches' | t }}</div>
	{% endif %}
{% endpaginate %}
</div>
